#contact-page {
  min-height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 60rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.work-exp-title {
  font-size: 3rem;
  margin: 2rem 1rem;
}

.work-exp-cards {
  margin: 1.5rem auto;
  /* width: 100vw; */
  max-width: 80%;
  text-align: left;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-form{
  display: flex;
  flex-direction: column;
  margin: 1rem;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 60rem;
}
.contact-page-title{
  font-size: 3rem;
}
.contact-desc{
  padding: 1rem;
  font-size: medium;
  font-weight: 300;

}
.name, .email, .msg{
  font-size: medium;
  width: 100%;
  max-width: 40rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background: rgb(40,40,40);
}
.submit-button{
  background: white;
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  margin: 1rem;
  cursor: pointer;
}
.links{
  display: flex;
  flex-wrap: wrap;
}

.link{
  object-fit: cover;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  margin: 1rem;
}

@media screen and (max-width:500px) {
  .work-exp-desc{
    font-size:1rem;
  }
}