.work-exp-card {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  border-radius: 0.5rem;
  padding: 2rem;
  margin: 1rem;
  align-items: center;
  justify-content: center;
  background: #323232;
}
.work-exp-img {
  height: 5rem;
  /* width: 5rem; */
  margin-bottom: 1rem;
  object-fit: cover;
}

a{
  color: inherit;
}
@media screen and (max-width: 440px) {
  .work-exp-desc {
    font-size: 0.9rem;
  }
  .work-exp-title {
    font-size: 3rem;
    margin: 1rem;
    
  }
}

@media screen and (max-width:480px){
  .company-name{
    font-size: 1.2rem;
  }
  .work-postion{
    font-size: 0.7rem;
  }
}
@media screen and (max-width:360px){
  .company-name{
    font-size: 1.1rem;
  }
  .work-postion{
    font-size: 0.65rem;
  }
}